.input {
  border-radius: 28px;
  background-color: var(--input-bg-color);
  padding: 18px 20px;
  border: none;
  color: var(--font-primary-color);
  outline: none;
}

.input-sm {
  border-radius: 12px;
}

.input-sm::placeholder {
  font-size: 3em;
  text-align: center;
  position: relative;
  top: 17px;
}

::placeholder {
  color: var(--font-placeholder-color);
}
