.btn {
  border-radius: 28px;
  font-size: 1.2rem;
  color: white;
  background: #fc6011;
  border: none;
  padding: 15px 20px;
}

.btn-outline {
  color: #fc6011;
  background: white;
  border: 1px solid #fc6011;
}
