.card-container {
  display: grid;
  grid-template-rows: auto;
  grid-auto-flow: column;
  overflow-x: auto;
  column-gap: 15px;
  padding-left: 15px;
}

.card-container::-webkit-scrollbar {
  display: none;
}

.card-container::after {
  content: "";
  width: 1px;
}

.card {
  width: 100px;
}

.card-img {
  object-fit: cover;
  width: 100px;
  height: 100px;
  border-radius: 10px;
}

.card-text {
  font-size: 14px;
  color: #4a4b4d;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
}
