.welcome {
  background-image: url("../../assets/background.svg");
  height: 100vh;
  width: 100vw;
  display: grid;
  /* grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr; */
  place-items: center;
  align-content: center;
}

.flex {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.col-main {
  color: var(--main-color);
}

.col-primary {
  color: var(--font-primary-color);
}

.f-sm {
  font-size: 10px;
}

.f-space {
  letter-spacing: 2px;
}

.welcome * {
  margin: 0;
}

.welcome *:not(:last-child) {
  margin-bottom: 6px;
}
