@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");

*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  --main-color: #fc6011;
  --font-primary-color: #4a4b4d;
  --font-secondary-color: #7c7d7e;
  --font-placeholder-color: #b6b7b7;
  --input-bg-color: #f2f2f2;
  --font-size-normal: 14px;
}

html {
  font-size: 16px;
}

body {
  font-family: "Quicksand", sans-serif;
  margin: 0;
}

input,
button,
select,
optgroup,
textarea {
  margin: 0;
  font-family: "Quicksand", sans-serif;
}
